.eventPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80ch;
  margin: 0 auto;
  padding: 1rem;
  max-width: 1800px;
  gap: 2rem;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.infoHeader {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.infoHeader h1,
.infoHeader h2,
.infoHeader p {
  margin: 0;
}